/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}


/* GLOBAL STYLES */

html, body {
  font: normal 100%/120% serif;
  font-family: 'Libre Franklin', sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
header {
	padding: 2em;
}
h1, h2 {
	line-height: 1.1em;
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: .1em;
}
h2 {
	font-size: 1em;
	font-weight: 200;
}
h2 span {
	font-weight: 400;
}
h2 .fa-digg {
	font-size: 2em;
	margin-left: .1em;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
main {
	position: relative;
	width: 100%;
}

/* MENU STYLES */

.menu {
	display: block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.menu > .menu-item {
	border: 1px solid #aaa;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 600;
	line-height: 70px;
	margin: .5%;
	margin-bottom: 1em;
	text-transform: uppercase;
	width: 90%;
	transition: all .3s ease;
	vertical-align: middle;
}
.menu > .menu-item span {
	font-size: 2em;
	line-height: 70px;
	vertical-align: middle;
}
.menu > .menu-item.active, .menu > .menu-item:hover {
	color: #fff;
	background: #005be2;
}
.menu > .digg.active, .menu > .digg:hover {
	background: #005be2;
}
.menu > .david_picks.active, .menu > .david_picks:hover {
	background: #009900;
}
.menu > .politics.active, .menu > .politics:hover {
	background: #990000;
}
.menu > .design.active, .menu > .design:hover {
	background: #800080;
}


/* FEED STYLES */

.feed {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
}
.feed-item-container {
	display: inline-block;
	margin-bottom: 2em;
	opacity: 0;
	text-align: left;
	transition: all .3s ease;
	vertical-align: top;
	width: 90%;
	animation: fadeIn ease 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}
.feed-item-container .feed-item {
	color: #aaa;
	display: block;
	transition: all .3s ease;
}
.feed-item-container .image-container {
	width: 100%;
	margin-bottom: .5em;
}
.feed-item-container .image {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 100%;
}
.feed-item-container .title {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.1em;
	margin-bottom: .5em;
}
.feed-item-container .description {
	margin-bottom: 1em;
	word-wrap: break-word;
	word-break: break-word;
  hyphens: auto;
}
.feed-item-container .feed-item:hover {
	color: #005be2;
}
.feed-item-container.digg .feed-item:hover {
	color: #005be2;
}
.feed-item-container.david_picks .feed-item:hover {
	color: #009900;
}
.feed-item-container.politics .feed-item:hover {
	color: #990000;
}
.feed-item-container.design .feed-item:hover {
	color: #800080;
}

.feed-item-container .share-container,
.feed-item-container .domain-container {
	line-height: 30px;
}
.feed-item-container .share-container {
	display: inline-block;
	width: 40%;
}
.feed-item-container .share-container a {
	background: #aaa;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: .9em;
	height: 30px;
	line-height: 30px;
	margin-right: .1em;
	text-align: center;
	transition: all .3s ease;
	width: 30px;
}
.feed-item-container .share-container a:hover {
	background: #005be2;
}
.feed-item-container .share-container a.fa-twitter:hover {
	background: #00aced;
}
.feed-item-container .share-container a.fa-facebook:hover {
	background: #3b5998;
}
.feed-item-container .domain-container {
	display: inline-block;
	width: 58%;
	text-align: right;
}
.feed-item-container a.domain {
	color: #aaa;
	font-size: .7em;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .3s ease;
}
.feed-item-container a.domain:hover {
	color: #666;
	text-decoration: underline;
}

/* ANIMATION KEYFRAMES */

@keyframes fadeIn { 
	from { 
		opacity:0; 
	} 
	to { 
		opacity:1; 
	} 
}

/* MEDIA QUERIES */
@media (min-width: 640px) {
	.menu > .menu-item {
		width: 40%;
	}
	.feed-item-container {
		margin: 1em;
		margin-bottom: 2em;
		width: 40%;
	}
	.feed-item-container .image-container {
		background: #000;
		line-height: 200px;
		max-height: 200px;
		overflow: hidden;
	}
	h1 {
		font-size: 3em;
	}
}
@media (min-width: 1240px) {
	.menu > .menu-item {
		font-size: 1.2em;
		width: 20%;
	}
	.feed-item-container {
		width: 30%;
	}
}
@media (min-width: 1500px) {
	.feed-item-container {
		width: 400px;
	}	
}